body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(153, 19, 19);
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

#logotypy {
  background-color: white;
  display: flex;
  height: 35px;
  justify-content: center;
}

#socialmedia {
  background-color: rgb(28, 28, 37);
  display: flex;
  height: 39px;
  justify-content: space-around;
  gap: 200px;
}

#socialpictures {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.socialmediaElement {
  height: 30px;
  display: flex;
  justify-content: space-around;
}

#Widzew {
  background-color: rgb(153, 19, 19);
  display: flex;
  height: 117px;
}

#crest {
  display: flex;
  font-size: 40px;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-left: 360px;
  height: 90px;
  margin-top: 10px;
}

#audioButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin-left: 200px;
  gap: 10px;
}

#tv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

#mic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

#play {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  margin-left: 10px;
}

#shopButtons {
  display: flex;
  align-items: center;
  width: 210px;
  gap: 20px;
  justify-content: space-between;
  margin-left: 240px;
}

#bilet {
  height: 50px;
  width: 110px;
  font-weight: 700;
  background-color: #cca34a;
  border: solid;
  color: black;
  border-color: #cca34a;
  font-weight: 800;
  border-width: 2px;
}

#sklep {
  height: 50px;
  width: 80px;
  font-weight: 700;
  background-color: rgb(153, 19, 19);
  border: solid;
  border-color: #cca34a;
  color: #cca34a;
  border-width: 2px;
  font-weight: 900;
}

.link {
  text-decoration: none;
}
.navElement {
  position: relative;
}
.navElement > ul {
  display: none;
  position: absolute;
  list-style-type: none;
}

.navElement:hover > ul {
  display: block;
}

.navElement {
}

#navigation {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
}

#AllControl {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
}

#controlPanel {
  display: flex;
  align-items: center;
  font-weight: 600;
  list-style-type: none;
  padding-inline-start: 0px;
  font-size: 18px;
}

.navElement > p {
  padding: 15px;
}

.image-container {
  width: max; /* Ustaw szerokość kontenera */
  height: 900px; /* Ustaw wysokość kontenera */
  overflow: hidden; /* Ukryj fragmenty obrazu poza obszarem kontenera */
  background-image: url("assets/Pawlowski2026.jpg"); /* Ustaw obraz jako tło kontenera */
  background-size: cover; /* Dopasuj obraz do kontenera, z zachowaniem proporcji */
  background-position: center center; /* Wyśrodkuj obraz w kontenerze */
  position: relative;
  z-index: 1;
}

#matches {
  background-color: rgb(153, 19, 19);
  height: 1400px;
}

#matchbox {
  height: 440px;
  width: 1240px;
  background-color: black;
  position: relative;
  z-index: 2;
  left: 320px;
  bottom: 80px;
  opacity: 80%;
  padding: 40px 20px;
}

#matchboxes {
  width: 1240px;
  height: 330px;
  display: flex;
  justify-content: space-around;
}

.matchbox13 {
  width: 320px;
  height: 330px;
  background-color: white;
  z-index: 3;
  position: relative;
}

#matchbox2 {
  width: 540px;
  height: 330px;
  background-color: white;
  z-index: 3;
  position: relative;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  margin-bottom: 29px;
}

#textBox {
  display: flex;
  justify-content: left;
  flex-direction: column;
  font-weight: 700;
}

#matchResults {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  width: 190px;
}

#matchResults > a {
  color: #cca34a;
}

#title1 {
  font-size: 32px;
  color: white;
  margin-bottom: 5px;
}

#counting {
  font-size: 13px;
  font-weight: 700;
  color: white;
  display: flex;
  /* justify-content: end;
  flex-direction: column; */
}

.middle {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 280px;
}

.part1 {
  color: #cca34a;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  width: 290px;
  height: 38px;
}

.date1 {
  font-size: 48px;
}

/* .part1 > span {
  display: flex;
  flex-direction: column;
} */

.month {
  font-size: 13px;
}

.dayOfTheWeek {
  font-size: 15px;
}

.part2 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 280px;
  height: 88px;
}

.logoCrest {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  width: 80px;
}

.logoCrest div {
  display: flex;
  height: 40px;
  text-align: center;
  justify-content: center;
  width: 60px;
}

.logoCrest img {
  margin-bottom: 5px;
}

.part2 span {
  width: 73px;
  height: 47px;
  border: solid #cca34a 1px;
  font-size: 25px;
  background-color: black;
  font-weight: 900;
  color: #cca34a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.part3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.part4 {
  width: 280px;
  display: flex;
  justify-content: center;
}

.part4 button {
  width: 70px;
  height: 50px;
  border: solid #cca34a 2px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #hour {
  background-color: none;
  border: none;
} */

#matchbox2 > .middle {
  height: 300px;
  width: 500px;
}

#matchbox2 .middle .part1 img {
  z-index: 1;
  position: absolute;
  margin-left: 394px;
}

.matchbox13 .part1 img {
  margin-left: 50px;
}
#matchbox2 .part2 {
  width: 500px;
  height: 140px;
  justify-content: space-around;
}

#betweenCrest {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#betweenCrestElement1 {
  color: #cca34a;
  font-size: 44px;
  font-weight: 700;
  /* top: 200%;
  position: relative; */
}

.betweenCrestElement2 {
  color: black;
  font-size: 11px;
  width: 120px;
}

#betweenCrestElement3 {
  color: black;
  font-size: 20px;
  font-weight: 900;
  margin-top: 10px;
}

#matchButtons {
  display: flex;
  justify-content: center;
}

#matchCenter {
  width: 180px;
  height: 50px;
  margin: 0px 5px;
  border: solid #cca34a 2px;
  font-weight: 700;
  font-size: 14px;
}

#audioRelations {
  width: 200px;
  height: 50px;
  margin: 0px 5px;
  border: solid #cca34a 2px;
  background-color: #cca34a;
  font-weight: 700;
  font-size: 14px;
}

#shop {
  display: flex;
  justify-content: center;
}

#shop > div > img {
  margin: 10px;
  width: 380px;
  height: 230px;
}

#redSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

#news {
  width: 62%;
  padding: 70px;
  padding-bottom: 20px;
}

#newsLine1 {
  height: 65px;
  display: flex;
  justify-content: left;
  margin-bottom: 40px;
}

#newsLine1 div a:hover {
  text-decoration: underline;
}

#newsLine1 h1 {
  font-size: 50px;
  color: aliceblue;
  margin: 0px;
  padding-right: 40px;
}

#newsLine1 div {
  font-size: 15px;
  color: aliceblue;
  display: flex;
  align-items: end;
  justify-content: space-around;
  width: 500px;
}

#newsLine1 div a {
  color: aliceblue;
  text-decoration: none;
}

#newsLine2 {
  display: flex;
  justify-content: center;
}

#newsLine2 img {
  width: 590px;
  height: 330px;
  border: solid aliceblue 2px;
  margin: 6px 3px;
}

#newsLine3 {
  display: flex;
  justify-content: center;
}

#newsLine3 img {
  width: 390px;
  height: 238px;
  border: solid aliceblue 2px;
  margin: 0px 3px;
}

#newsLine4 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

#newsLine4 button {
  background-color: rgb(153, 19, 19);
  width: 200px;
  height: 50px;
  border: solid 2px aliceblue;
  color: aliceblue;
  text-align: center;
  font-weight: 700;
}

#whiteBoard {
  height: 306vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Academy {
  width: 65vw;
  height: 23vh;
  background-color: rgb(153, 19, 19);
  margin-top: 60px;
  color: aliceblue;
}

#boxAcademy {
  padding: 20px 40px;
}

#boxAcademy h1 {
  font-size: 50px;
  margin: 0px;
  height: 55px;
}

#boxAcademy h2 {
  font-size: 15px;
  text-align: right;
  margin-right: 160px;
  margin-bottom: 15px;
}

#boxAcademy div button {
  padding: 15px 20px;
  border: solid aliceblue 2px;
  background-color: rgb(153, 19, 19);
  color: aliceblue;
  font-weight: 700;
  margin-right: 20px;
}

#boxAcademy div {
  display: flex;
  justify-content: space-between;
}

#sponsors {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

#sponsors a {
  width: 108px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sponsors div {
  display: flex;
  align-items: center;
  font-size: 30px;
}

#trykot {
}

#trykot h1 {
  font-size: 60px;
}

#trykot div {
  display: flex;
  /* height: 5\2vh; */
}

#trykotMenu {
  display: flex;
  flex-direction: column;
  width: 490px;
  height: 490px;
}

.trykotMenuLine1 {
  font-size: 27px;
  margin-bottom: 10px;
  height: 37px;
}

.trykotMenuLine2 {
}

.trykotMenuLine2 > button {
  width: 150px;
  height: 49px;
  font-size: 14px;
  font-weight: 700;
  border: solid 2px;
  margin: 0 10px 30px 0;
}

#trykotMenuLine3 {
  font-size: 36px;
  color: rgb(153, 19, 19);
  margin-bottom: 15px;
}

#trykotMenuLine4 {
  height: 51px;
  width: 145px;
  border: solid 2px #cca34a;
  font-size: 14px;
  font-weight: 700;
  background-color: #cca34a;
}

#market {
  background-color: white;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#market h1 {
  margin-right: 1100px;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 25px;
}

#products > div > img {
  width: 246px;
  height: 246px;
  padding: 20px 20px 0px 20px;
}

.marketBox {
  height: 387px;
  width: 290px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0px 10px;
  justify-content: space-between;
}

#products {
  width: 1300px;
  display: flex;
}

.marketBoxText {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 14px;
  font-weight: 700;
  width: 250px;
  align-items: end;
}

.marketBoxText > button {
  width: 60px;
  height: 54px;
  background-color: #cca34a;
  border: #cca34a;
}

.marketBoxText > div > p {
  color: rgb(153, 19, 19);
  font-size: 28px;
  margin: 0px;
}

.marketBoxText div div {
  width: 190px;
}

#market > button {
  width: 190px;
  height: 50px;
  border: solid #cca34a;
  background-color: #cca34a;
  font-size: 14px;
  margin-top: 40px;
  font-weight: 700;
}

#multimedia {
  background-color: white;
  width: 99vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

#multimedia h1 {
  width: 1200px;
  font-size: 60px;
  margin: 120px 0px 30px;
  font-weight: 600;
}

#multimediaNavigation {
  width: 1200px;
  height: 56px;
  display: flex;
  font-size: 15px;
  font-weight: 700;
}

#navigationBoxOne {
  background-color: rgb(153, 19, 19);
  color: #cca34a;
  width: 118px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

#navigationBoxTwo {
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navigationBoxThree {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 770px;
}

#multimediaBox {
  width: 1200px;
  height: 427px;
  background-color: rgb(153, 19, 19);
  display: flex;
  justify-content: space-between;
}

#multimediaBox > img {
  width: 653px;
  height: 367px;
  padding: 30px 0px 30px 30px;
}

#multimediaBox > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding: 30px 30px 30px 0px;
}

.videos {
  height: 96px;
  width: 466px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  background-color: rgb(153, 19, 19);
  border: solid rgb(153, 19, 19);
}

.videos img {
  width: 180px;
  height: 96px;
}
.videos > div {
  color: aliceblue;
  margin-left: 30px;
}

.dataMultimedia {
  display: flex;
}

.dataMultimedia > div {
  margin-top: 5px;
}

.dataMultimedia > div > p {
  margin: 0px;
  font-size: 11px;
  font-weight: 600;
  display: flex;
}

#multimediaHour {
  font-size: 14px;
  font-weight: 600;
}

.dataMultimedia h2 {
  margin: 0px 5px 0px 0px;
  color: aliceblue;
  font-size: 37px;
  font-weight: 500;
}

.multimediaText {
  display: flex;
  font-size: 12px;
  font-weight: 600;
  flex-direction: column;
  align-items: start;
}

.multimediaText span {
  margin-bottom: 9px;
  font-size: 11px;
}

.multimediaText div {
  text-align: left;
}

#moreVideoButton {
  color: #cca34a;
  background-color: rgb(153, 19, 19);
  border: solid rgb(153, 19, 19);
  font-weight: 700;
  font-size: 13px;
}

#advertiseOne {
  padding: 30px;
}

#advertiseTwo {
  padding: 30px;
}

#goalsAndAchievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(153, 19, 19);
}

#team {
  width: 1200px;
  height: 55vh;
  padding: 30px 40px;
}

#team > h2 {
  font-size: 60px;
  font-weight: 600;
  color: aliceblue;
  margin-top: 0px;
}

#team > div {
  display: flex;
  justify-content: center;
}

.line {
  margin: 0px;
}

#rafałGikiewicz {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#gikiewiczStats {
  color: aliceblue;
  width: 200px;
}

#gikiewiczStats > span {
  font-size: 30px;
  font-weight: 600;
}

#gikiewiczStats > h2 {
  font-size: 25px;
  margin: 15px 0px 5px 0px;
}

#gikiewiczStats > div {
  display: flex;
  justify-content: space-between;
  width: 145px;
}

#gikiewiczStats > div > div {
  display: flex;
  flex-direction: column;
}

#gikiewiczStats > div > div > p {
  margin: 0px;
  font-size: 20px;
}

#gikiewiczStats > div > div > span {
  font-size: 12px;
}

#gikiewiczProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

#gikiewiczProfile > button {
  height: 50px;
  width: 217px;
  border: solid #cca34a 2px;
  font-size: 14px;
  font-weight: 600;
}

#playerProfile {
  background-color: rgb(153, 19, 19);
  color: #cca34a;
}

#buyTshirt {
  background-color: #cca34a;
  color: black;
}

#achievements {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  padding: 30px;
}

#achievements > h2 {
  font-size: 60px;
  margin: 30px 0px 50px 0px;
}

#achievements > div {
  display: flex;
}

#achievements > div > div {
  width: 300px;
  display: flex;
  align-items: start;
}

#achievements > div > div > img {
  margin-top: 10px;
}

.cups {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 20px;
}

.cups > h2 {
  font-size: 54px;
  font-weight: 700;
  margin: 0px;
}

.cups > span {
  font-size: 27px;
  font-weight: 600;
  display: block;
}

#partners {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99vw;
  padding: 30px 0;
}

#sponsorOne {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sponsorOne > h2 {
  font-size: 55px;
  font-weight: 600;
  margin: 30px 0 60px 0;
}

#sponsorOne > p {
  font-size: 15px;
  margin: 0px;
}

#sponsorTwo {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  padding: 30px 40px;
}

#sponsorTwo > div {
  width: 246px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sponsorTwo > button {
  background-color: white;
  border: none;
  font-weight: 600;
  font-size: 20px;
}

#partners > button {
  width: 185px;
  height: 51px;
  border: solid 2px #cca34a;
  color: #cca34a;
  background-color: white;
  font-size: 13px;
  font-weight: 700;
}

#contact {
  background-color: rgb(153, 19, 19);
  display: flex;
  justify-content: center;
}

#contact > div {
  width: 1200px;
  height: 117px;
  display: flex;
  padding: 20px 0 30px;
}

#contact > div > div {
  width: 400px;
}

#contact div p {
  font-size: 14px;
  font-weight: 700;
  color: white;
}

#adress {
  display: flex;
}

#adress > div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 200px;
}

#adress > div > a {
  color: #cca34a;
  font-weight: 300;
  font-size: 16px;
}

#joinUs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#joinUs svg {
  margin: 0 5px;
}

#email {
  display: flex;
  flex-direction: column;
}

#email div {
  width: 350px;
  height: 50px;
  display: flex;
}

#email svg {
  width: 50px;
  height: 50px;
  background-color: #cca34a;
}

#email input {
  width: 300px;
  height: 42px;
  border: solid white;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 15px;
  padding: 1px 10px;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
}

footer > div {
  display: flex;
  background-color: black;
  color: aliceblue;
  width: 1200px;
  padding: 40px;
}

footer > div > span {
  width: 400px;
}

#regulations {
  display: flex;
  justify-content: space-between;
}

#regulations > a {
  color: aliceblue;
  font-weight: 500;
}

#qrqs {
  display: flex;
  align-items: center;
  justify-content: right;
}

#qrqs > p {
  margin: 0 7px;
  font-weight: 300;
}
