body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(153, 19, 19);
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

#logotypy {
  background-color: white;
  display: flex;
  height: 35px;
  justify-content: center;
}

#socialmedia {
  background-color: rgb(28, 28, 37);
  display: flex;
  height: 39px;
  justify-content: space-around;
  gap: 200px;
}

#socialpictures {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.socialmediaElement {
  height: 30px;
  display: flex;
  justify-content: space-around;
}

#Widzew {
  background-color: rgb(153, 19, 19);
  display: flex;
  height: 117px;
}

#crest {
  display: flex;
  font-size: 40px;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-left: 360px;
  height: 90px;
  margin-top: 10px;
}

#audioButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin-left: 200px;
  gap: 10px;
}

#tv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

#mic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

#play {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  margin-left: 10px;
}

#shopButtons {
  display: flex;
  align-items: center;
  width: 210px;
  gap: 20px;
  justify-content: space-between;
  margin-left: 240px;
}

#bilet {
  height: 50px;
  width: 110px;
  font-weight: 700;
  background-color: #cca34a;
  border: solid;
  color: black;
  border-color: #cca34a;
  font-weight: 800;
  border-width: 2px;
}

#sklep {
  height: 50px;
  width: 80px;
  font-weight: 700;
  background-color: rgb(153, 19, 19);
  border: solid;
  border-color: #cca34a;
  color: #cca34a;
  border-width: 2px;
  font-weight: 900;
}

.link {
  text-decoration: none;
}
.navElement {
  position: relative;
}
.navElement > ul {
  display: none;
  position: absolute;
  list-style-type: none;
}

.navElement:hover > ul {
  display: block;
}

.navElement {
}

#navigation {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
}

#AllControl {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
}

#controlPanel {
  display: flex;
  align-items: center;
  font-weight: 600;
  list-style-type: none;
  padding-inline-start: 0px;
  font-size: 18px;
}

.navElement > p {
  padding: 15px;
}

.image-container {
  width: max; /* Ustaw szerokość kontenera */
  height: 900px; /* Ustaw wysokość kontenera */
  overflow: hidden; /* Ukryj fragmenty obrazu poza obszarem kontenera */
  background-image: url("assets/Pawlowski2026.jpg"); /* Ustaw obraz jako tło kontenera */
  background-size: cover; /* Dopasuj obraz do kontenera, z zachowaniem proporcji */
  background-position: center center; /* Wyśrodkuj obraz w kontenerze */
  position: relative;
  z-index: 1;
}

#matches {
  background-color: rgb(153, 19, 19);
  height: 1400px;
}

#matchbox {
  height: 440px;
  width: 1240px;
  background-color: black;
  position: relative;
  z-index: 2;
  left: 320px;
  bottom: 80px;
  opacity: 80%;
  padding: 40px 20px;
}

#matchboxes {
  width: 1240px;
  height: 330px;
  display: flex;
  justify-content: space-around;
}

.matchbox13 {
  width: 320px;
  height: 330px;
  background-color: aliceblue;
  z-index: 3;
  position: relative;
}

#matchbox2 {
  width: 540px;
  height: 330px;
  background-color: aliceblue;
  z-index: 3;
  position: relative;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  margin-bottom: 39px;
}

#textBox {
  display: flex;
  justify-content: left;
  flex-direction: column;
  font-weight: 700;
}

#matchResults {
  color: #cca34a;
}

#title1 {
  font-size: 32px;
  color: aliceblue;
}

#counting {
  font-size: 13px;
  font-weight: 700;
  color: aliceblue;
  display: flex;
  /* justify-content: end;
  flex-direction: column; */
}
